.flex{
    display: flex;
    column-gap: 5px;
}
.justify-content{
    justify-content: center;
}
.align-item{
    align-items: center;
}
.border{
    border: 2px solid red;
    margin: 2px;
}
.bg-grey{
    background-color: #121212;
    margin-top: 7px;
    border-radius: 6px;
    margin-bottom: 7px;

}
.invert{
    filter: invert(1);
}
.bg-greyplaylist{
    background-image: linear-gradient(#1e1e1e,#0e0d0d);
}
.white{
    color: white;
    
}